[2022-02-18 21:39] jxu commented on #792
I thought about Wikipedia and their articles have many authors, while these articles appear to only a few main contributors.

Actually on Wikipedia, a lot of math articles are only written by a few dedicated users and I think in principle they should get more credit, but their editing model discourages it.

[2022-02-19 09:00] jxu commented on #792
It is possible there are credit disputes, but those seem rare from most open source projects I've seen, and the commit history serves as a backup source of evidence.

I am definitely in support of that. Due credit should be given to the original e-maxx author(s?) and translators and shouldn't be hidden away. This is especially important since the original author(s) aren't identified through commit

[2022-02-20 17:03] Anmol786 opened #795 "Problem on article "Sieve of Eratosthenes""
**Article:** [Sieve of Eratosthenes](https://cp-algorithms.com/algebra/sieve-of-eratosthenes.html)

**Problem:**
 if(isPrime[i]){
        for (long long j = max(i * i, (L + i - 1) / i * i); j <= R; j += i)
            isPrime[j - L] = false;
        }
    if (L == 1)
        isPrime[0] = false;
    return isPrime;
}`

-->

[2022-02-22 06:00] jxu opened #796 "Do we have top k elements article?"
Wikipedia calls it "selection algorithm" https://en.wikipedia.org/wiki/Selection_algorithm
The problem is to find the top k elements in an array. I searched up heap and skimmed the results but didn't see it.

Basics:
- Naive solution: sort the array and take top k. O(n log n)
- Heapselect: Add elements to min-heap of maximum size k, discarding minimum elements. improves to O(n log k)
- Order-stati

[2022-02-22 06:05] jxu commented on #774
A old-school possible solution is to use/disguise HTML forms and hopefully the browser remembers. Anything else in javascript probably requires storing user data as cookies.

@jakobkogler I noticed you were using Firebase. Is that even necessary? For static content, you can use free github page hosting.

[2022-02-22 08:08] adamant-pwn commented on #796
`std::nth_element`. Also [this](https://cp-algorithms.com/sequences/k-th.html).

[2022-02-22 18:56] adamant-pwn commented on #796
Selection algorithm is same as finding kth element and picking all elements below it... `std::nth_element` even ensures that elements before nth are less than it.

[2022-02-27 19:08] jakobkogler commented on #792
I personally find the current system (crediting authors via link to Git history) more than enough. Saying as somebody that's responsible for quite a lot translations and a couple of self-written articles.

I see the project as a community project, where articles belong to the group and not to a single person. So that everybody can modify old articles, improve them, and extend them. Like a Wiki, an

[2022-02-27 22:29] jxu commented on #792
Doesn't have to be that sophisticated, just a sentence or two at the end mentioning authors in a section like manpages do.

For your concerns: authors who wish to be credited can ask to be so. And the normal article review process still exists, so it is not a free-for-all.

[2022-03-03 04:29] ovebepari opened #805 "Devskill links are not working"

[2022-03-06 15:10] ChitturiSaiSuman opened #807 "Problem on article "String Hashing""
**Article:** [String Hashing](https://cp-algorithms.com/string/string-hashing.html)

**Problem:**

Hi, under the section labelled "Improve no-collision probability", I find the following sentence incorrect.

    And if we want to compare 1e6 different strings with each other (e.g. by counting how many unique strings exists), then the probability of at least one collision happening is already {near

[2022-03-06 16:54] jakobkogler commented on #807
By the pigeonhole principle principle we would need at least `m + 1` strings to guarantee a collision.
So yeah, it's not guaranteed.

However, the article doesn't say that it's guaranteed. It says that it's "pretty much" guaranteed as the probability of a collision is about 1 (meaning almost 100%).

And if you do the math, you get that the probability is in fact 99.99999999999999999999999999999999

[2022-03-06 16:54] #807 closed

[2022-03-06 17:10] jakobkogler commented on #805
Looks like the website changed and doesn't offer these problems any more.
I've replaced the links with archive.org links, so that you can at least read the problem statement.
Fixed in commit 7e976ab.

[2022-03-06 17:10] #805 closed

[2022-03-07 02:37] ChitturiSaiSuman commented on #807
Hi,
Yeah, a randomly generated set of strings will definitely collide. So, we
will never encounter a non-constructed example that will have no collision.
I agree with you.

PS: I am improving a post about Polynomial rolling hash functions
<https://www.geeksforgeeks.org/string-hashing-using-polynomial-rolling-hash-function/>
on Geeksforgeeks. I would like to make use of the article
<https://cp-algo

[2022-03-07 21:07] jakobkogler commented on #807
The articles (text + code) of cp-algorithms.com is licenced under the [Creative Commons Attribution Share Alike 4.0 International](https://github.com/e-maxx-eng/e-maxx-eng/blob/master/LICENSE).

That means that you can copy stuff, and use it as you like (also publish it on other sites with or without changes), however if you do so, you need to make sure that you fulfill the following 3 things.
1)

[2022-03-07 21:07] jakobkogler commented on #807
@ChitturiSaiSuman

[2022-03-08 02:53] ChitturiSaiSuman commented on #807
Cool. That sums up everything I need. Thanks for letting me know.

[2022-03-18 19:56] adamant-pwn commented on #796
I added some info in [K-th order statistics](https://cp-algorithms.com/sequences/k-th.html) article with a0d1a9bc91d9ba71f9877fbff0a81bc5315266aa. Feel free to open a pull request with if you feel like adding more.

[2022-03-18 19:56] #796 closed

[2022-03-19 19:41] jxu commented on #757
Maybe also interesting is that if you choose to implement the sieve lazily, there's a famous example of code that isn't the genuine sieve but just trial division https://www.cs.hmc.edu/~oneill/papers/Sieve-JFP.pdf

[2022-03-22 09:17] donaldong opened #815 "LCP Out-of-bound error"
In https://cp-algorithms.com/string/suffix-array.html

[code]
this implementation missed a boundary check, which could result in errors.

Also it'd be nice to have an all in one implementation so it's easier to copy paste :)

Here's my attempt, tested on some online judge such as Kattis (https://open.kattis.com/problems/dvaput)

[code]

[2022-04-05 05:11] ovebepari commented on #805
how did you find the problems to archive? It was snapshotted on internet archive before?

[2022-04-06 11:27] Aeren1564 opened #821 "Problem on article "Half-plane intersection""
**Article:** [Half-plane intersection](https://cp-algorithms.com/geometry/halfplane-intersection.html)

**Problem:**

[2022-04-06 11:27] Aeren1564 opened #822 "Problem on article "Half-plane intersection""
**Article:** [Half-plane intersection](https://cp-algorithms.com/geometry/halfplane-intersection.html)

**Problem:**

6
10 55
25 10
60 15
80 40
65 85
30 80

The code gives weird answer for this input

[2022-04-07 09:37] amirMohammadTaati opened #823 "How to translate this website?"
Hi ,
I'd like to translate this website into Farsi language . Where should I commit and which repository should I put the content?
Because name of this repo is e-maxx-eng .
Should I create another repo?
Thanks

[2022-04-07 17:32] alirezaopmc commented on #823
@amirMohammadTaati Check opedia.ir that's actually what you are you looking for.

[2022-04-08 13:42] #821 closed

[2022-04-10 11:01] amirMohammadTaati commented on #823
Hi ,
Thank you . I've been using opedia.ir for a while now . But this website has some extra topics that I think is needed in Farsi community.

[2022-04-10 15:08] alirezaopmc commented on #823
I believe that the majority of the context of opedia is inspired from e-max so I suggest you to somehow find a way to integrate between opedia and e-max. I am sure that there are many uncompleted fields in opedia that there is a finished page for that in e-max so that it can strongly be filled with your contribution as translation.

And also I am able to help you in that.

[2022-04-11 14:18] douglasalves0 opened #826 "Problem on article "Extended Euclidean Algorithm""
**Article:** [Extended Euclidean Algorithm](https://cp-algorithms.com/algebra/extended-euclid-algorithm.html)

**Problem:**

At this article is said that a mod b = a - floor(a/b) * b, but this is wrong.
See the following case for a = -3 and b = 5:

a mod b = a - floor(a/b) * b =>
-3 - floor(-3/5) * 5 =>
-3 - (-1) * 5 =>
-3 +  5 =>
2

but -3 mod 5 = -3 and not 2.

maybe the correct statement is tha

[2022-04-11 21:08] jakobkogler commented on #826
Yeah, you are kinda correct, and kinda also not.

The formal proof is hard to describe properly, especially in a math and programming context. You need to have a very **clear definition of the mod operation and the division**, and they can differ a fair bit.

In a math context, you usually define the mod operation `a mod b` to return a number in the range `[0, b-1]` (if `b` is positive). E.g. Dona

[2022-04-12 23:17] douglasalves0 commented on #826
Yes, that's enough, sorry about that, thanks for the good resources in cp-algorithms, they are very useful.

[2022-04-12 23:17] #826 closed

[2022-04-14 12:12] r-tron18 opened #827 "Wrong Power in illustration of Binary Exponentiation Algorithm"
Since the number N has exactly [log N] digits in base 2, we only need to perform O( log N ) multiplications, if we know the powers .
a<sup>1</sup>, a<sup>2</sup>, a<sup>4</sup>, a<sup>8</sup>, . , . , . , a<sup>[log N]</sup>

**a<sup>[log N]</sup>**   should be  **a<sup>2<sup>[log N] </sup></sup>**

[2022-04-15 11:28] kitihounel opened #829 "Python 3 version of code snippets"
Hello everybody.
I want to contribute to the project by adding Python implementation of some algorithms (I also plan to add some articles too).
I want to know if it is okay, or if only C++ code is allowed.
Thanks.

[2022-04-15 20:47] jxu commented on #823
It's possible to turn this site (which repo should be named cp-alglorithms as it's grown beyond e-maxx I think) into a multilingual one like say MDN or wikipedia. But I don't know of any plans to do that.

[2022-04-15 20:48] jxu commented on #829
I'm not sure if it will be useful beyond just pseudocode. I have tried to use python for competitive programming and it is really is an uphill battle where algorithms that should work just don't because of cpython / pypy implementation subtleties.

[2022-04-15 21:24] adamant-pwn commented on #829
It was already discussed in https://github.com/e-maxx-eng/e-maxx-eng/issues/777. C++ is historically the default language, hence it is preferred to have code snippets in it. But, in my opinion, it is acceptable to have snippets in both C++ and Python side by side, especially for cases when constant difference in time won't affect the algorithm too much. You can see an example of it in the [continu

[2022-04-15 21:24] #829 closed

[2022-04-15 21:28] adamant-pwn commented on #827
Thanks, fixed in https://github.com/e-maxx-eng/e-maxx-eng/commit/706e378535748cf1f2cc93c5309dd1a190dfd6a3.

[2022-04-15 21:28] #827 closed

[2022-04-18 14:55] r-tron18 commented on #827
Why did you close my Pull Request(https://github.com/e-maxx-eng/e-maxx-eng/pull/828) and Raised yours with the same commit . I would have wanted my Pr to get merged

[2022-04-18 19:45] jakobkogler commented on #827
@r-tron18 Hey, very sorry that this happened.
I'm a bit confused on what exactly happened (and I'm talking with adamant at the moment). I'm guessing that it was just a very unlucky misclick or misunderstanding. We are not trying to steal any text or code from anybody, and we are very much determined to preserve the original authorship of every single change in the website.

I've not retroactively

[2022-04-29 11:54] yadunandanbhat opened #834 "Git logo should be replaced"
In the header, the repo link is of a GitHub repo, while the logo is of just Git. Looks better if it is replaced with the GitHub svg

[2022-05-01 05:31] utkarsh-shrivastav77 commented on #834
I can work on it

[2022-05-02 00:58] jxu opened #836 "Article on subset sum?"
Important enough that it deserves its own article if it doesn't exist already (I didn't find it in a quick search)

I wrote a quick stackoverflow answer for the special case of two values https://stackoverflow.com/questions/11928091/linear-time-algorithm-for-2-sum. It uses a two-pointer method which is a good strategy in general for sorted arrays.

Do you guys have any objections if I write for th

[2022-05-04 22:01] adamant-pwn commented on #836
What do you mean by section here? Like, use the text above in a section of generic subset sum article and write authorship for the section specifically?

[2022-05-04 22:05] adamant-pwn commented on #834
Yeah, probably using [Octocat or GitHub logo or both](https://github.com/logos) would be nice. @utkarsh-shrivastav77 wanna make a pull request?

[2022-05-04 22:19] adamant-pwn commented on #823
There is an instruction on how to run the website's fork locally in the [contributor guide](https://cp-algorithms.com/contrib.html#local-development). I think it's mostly sufficient if you want to run a copy of the website on your own server, except for [preview page](https://github.com/e-maxx-eng/e-maxx-eng/tree/master/preview), which is done via GCP Cloud Functions.

@jakobkogler should we add a

[2022-05-04 22:22] adamant-pwn commented on #822
@oscarburga hi! I think, you're the author of the article? Do you mind looking into it? @Aeren1564 were you able to identify a specific issue here?

[2022-05-04 22:26] adamant-pwn commented on #815
Hi @donaldong, thanks for noting that out! Do you have a specific problem on which the implementation produced an error? Could you link a submission which produced it and submission that fixed it, if possible? Also, would you like to open a pull request with a fix? :slightly_smiling_face:

[2022-05-04 22:31] adamant-pwn commented on #815
As for all in one implementation, I'm not sure what would be the best approach here. That is, whether we want to compile code from a particular article to show it in full on a separate page or to provide some kind of library code... The former could be complicated to do automatically, as articles often also have some non-optimal code (as in prefix function article) or a lot of different implementa

[2022-05-04 22:34] adamant-pwn commented on #789
Hi @Abdelrahman-Farah, thanks for pointing that out! Were you able to locate the issue since then? Is it indeed in CP-Algorithms code? Could you please provide a failed submission?

[2022-05-04 22:42] jxu commented on #836
Yes, although I don't feel comfortable writing full articles yet since I
don't have much competition coding experience (more Project Euler stuff,
but then many of those are relatively obscure number theory)

On Wed, May 4, 2022, 6:02 PM Oleksandr Kulkov ***@***.***>
wrote:

[2022-05-04 23:24] adamant-pwn commented on #788
Hi @john-coding, thanks for bringing that up. I believe what's written on e-maxx and later translated to cp-algorithms is correct, because a _unit network_ is defined as follows:

Therefore, the paths indeed can't have common vertices. It is also consistent with the wiki page ("More generally, this bound holds for any _unit network_"). I [highlighted](https://github.com/e-maxx-eng/e-maxx-eng/commi

[2022-05-04 23:24] #788 closed

[2022-05-04 23:39] adamant-pwn commented on #788
I also added an elaboration (https://github.com/e-maxx-eng/e-maxx-eng/commit/c7295b3d8d5dfcca2989458d8686817566d4746b) on unit capacities networks where the bound is, indeed, O(E sqrt E).

[2022-05-05 01:49] adamant-pwn commented on #760
@patmorin thanks for bringing that up! I added clarification on this and implemented a linear time algorithm to construct generic cartesian tree off (xi, yi) pairs with a minimum stack in https://github.com/e-maxx-eng/e-maxx-eng/commit/01f1fa5f5ea4a726f1bdaa1d91fa63f8a18616b1. As I know, there are also some other linear time algorithms mentioned on [enwiki](https://en.wikipedia.org/wiki/Cartesian_

[2022-05-05 01:49] #760 closed

[2022-05-05 02:15] adamant-pwn commented on #751
I think we indeed should have an article on binary search here. Please proceed if you have anything to publish in this regard :slightly_smiling_face:

[2022-05-05 02:23] adamant-pwn commented on #836
To be honest, I'd really prefer to deal with the attribution issue in some centralized, preferably automated manner. And I would generally prefer it to be article-wise rather than on each section separately. As for subset sum, I wonder how would the good outline for such article look like. Maybe we'd actually like to have it as a section in a more generic knapsack article...

[2022-05-05 02:27] adamant-pwn commented on #719
Closing it, as described above. No proper licensing on ITMO wiki, can't translate it directly without infringing their copyrights.

[2022-05-05 02:27] #719 closed

[2022-05-05 02:33] adamant-pwn commented on #681
Yep, the algorithm is exponential and some proper explanation on its complexity is due. I think, among other approaches, finding any flow and then removing [minimum circulation](https://e-maxx.ru/algo/min_cost_flow_negative_cycles) would be polynomial as well...

[2022-05-05 02:51] oscarburga commented on #822
Hey, sorry I hadn't noticed the issue opened earlier, thanks for the tag.

The issue doesn't give a lot of insight but I'm assuming the given input corresponds to the points of a polygon in counter-clockwise order. The test case happens to be a convex polygon, so the intersection of its half-planes should return the same polygon.

I ran the proposed test and it gave a correct answer ([ideone link]

[2022-05-05 05:28] jxu commented on #751
I have created a draft but I'm not sure if I'm happy with the notation, and the people who taught binary search to me have much more experience than I do on it. Nonetheless I can share with you a draft, either here or I can add you to access the draft on codeforces.

[2022-05-05 08:15] Aeren1564 commented on #822
Oops my bad, try reversing the list of points. [Code after reversing the list](https://ideone.com/NHdjgH).
The code logic is wrong when the intersection is empty and the set of halfplanes has rotational symmetry by pi.
My teammate told me that there's something wrong with the code in cp-algo. [Here](https://www.acmicpc.net/source/share/0131b806205b4f49b57f32cd2367884c) is the WA submission. I was

[2022-05-05 16:20] oscarburga commented on #822
Interesting. I'll review it during the weekend and see what I can do to fix it. Thank you.

Also, the link to your fixed code is not working and shows 404 even when logged in.

[2022-05-05 16:23] Aeren1564 commented on #822
I've fixed the last link. Lemme know if it still doesn't work.

[2022-05-05 16:28] oscarburga commented on #822
Link works now, thank you. At first glance, I'm not sure why these extra checks are necessary, but I'll get back to you with my findings (and likely PR) on sat/sun.

[2022-05-05 23:41] adamant-pwn opened #838 "BFS based approach for Aho-Corasick article"
Based on https://github.com/e-maxx-eng/e-maxx-eng/pull/486: A reminder to self to add the explanation of the breadth first search approach to the construction of the Aho-Corasick algorithm. It should work better than the one described in the article if we actually need to construct an AC automaton for a set of string that is given as a trie rather than a list of strings.

[2022-05-06 00:07] adamant-pwn commented on #388
Hi, thanks for the suggestion! @polkovnikov-ph could you open a PR, please? I had some doubts on whether we want an article completely dedicated to language technicalities here, but as long as @jakobkogler is fine with it, I guess we could make a new section for such kind of articles.

[2022-05-06 00:10] adamant-pwn commented on #536
I think, Jakob mentioned all the important stuff on the topic above, we'd be happy to merge such stuff if anyone makes a PR. By the way, it is also possible now to construct hints with admonitions (see [continued fractions article](https://cp-algorithms.com/algebra/continued-fractions.html#practice-problems) as an example).

[2022-05-06 00:10] #536 closed

[2022-05-08 04:05] polkovnikov-ph commented on #388
I don't think it should be published as is, but if everyone is fine with it, I'll rewrite it with proper grammar and make a PR.

[2022-05-09 01:14] #822 closed

[2022-05-09 01:27] adamant-pwn commented on #682
I mean, I could try to add something on finding points to the article, but I would prefer to have some problem on which I could test my code before doing so.

[2022-05-09 01:33] polkovnikov-ph commented on #682
Quite sure there was a problem on UV judge about superman flying around columns, but, of course, it's down.

[2022-05-09 01:38] adamant-pwn commented on #379
I feel like majority of contribution to this project is done without using any git functionality. E.g. "edit" buttons on the website just point directly to a web interface. On the other hand, keeping lines short could be perceived as an inconvenience to contributors and at that one that people might fail to understand why they should do it in the first place.

That being said, I would avoid any st

[2022-05-09 01:45] adamant-pwn commented on #566
Closing, as there doesn't seem to be any work going on. Feel free to re-open, if need so.

[2022-05-09 01:45] #566 closed

[2022-05-09 01:59] polkovnikov-ph commented on #379
Markdown with shorter lines might be as hard to edit and merge.

- Somebody edited a line, and now it's longer or shorter than others. Should it be kept as is? Then there is no limit on how long or short they can get. Should they reformat it? Diffs are getting larger and harder now.
- Markup such as links cannot be split into several lines, and will make some lines significantly shorter or longer

[2022-05-09 02:08] adamant-pwn commented on #609
I added some clarifications in https://github.com/e-maxx-eng/e-maxx-eng/commit/6076c292178886a121b56919fa488ff91a45e577. Indeed, `split(T, T1, T2, k)` seems to send first `k` elements of `T` into `T1` which wasn't written explicitly but it's consistent with the example code and with the explanation for `insert` function.

[2022-05-09 02:08] #609 closed

[2022-05-09 02:13] adamant-pwn commented on #529
Hi @hieplpvip, do you have any interest in continuing work with the article? I tried opening [the link](https://raw.githubusercontent.com/hieplpvip/e-maxx-eng/mulfunc/src/algebra/multiplicative-function.md) that you provided above, but unfortunately I get error 404 now. Is it gone for good now? :slightly_frowning_face:

[2022-05-09 02:33] adamant-pwn commented on #578
Hi @GaurangTandon, thanks for bringing this up! Do you still have any plans on the article that you've mentioned here? That's totally fine if not, I'd just prefer an update on this, if possible.

[2022-05-09 03:39] GaurangTandon commented on #578
Hi @adamant-pwn I would love to but, unfortunately, I do not have any plans of implementing it now. Apologies!

[2022-05-09 10:50] adamant-pwn commented on #578
Ok, no problems! Closing this issue then.

[2022-05-09 10:50] #578 closed

[2022-05-10 04:26] donaldong commented on #815
Please check out this PR: https://github.com/donaldong/kattis/pull/1

Sure :)

[2022-05-11 00:16] #815 closed

[2022-05-11 06:08] back2sqr1 opened #844 "Java Implementations?"
I'm interested in writing some java implementations of the articles. I already sent a pr for BFS, is Java (even Python), something you guys are interested in?

[2022-05-11 12:49] adamant-pwn commented on #844
Sure, go for it if you feel like it! It was previously discussed in https://github.com/e-maxx-eng/e-maxx-eng/issues/777 and I enabled content tabs specifically for this reason. I think, it would generally be nice to have some consistency within each article on what languages are used and to not use too many languages. Other than that I don't have strict preferences, feel free to choose whatever ar

[2022-05-11 12:50] adamant-pwn commented on #379
@polkovnikov-ph thanks for your comment! Could you please tell a bit more about this `fmt`?

[2022-05-11 17:28] polkovnikov-ph commented on #379
Something [like this](https://github.com/shurcooL/markdownfmt).

[2022-05-11 19:18] #844 closed

[2022-05-11 19:27] #724 closed

[2022-05-11 19:31] adamant-pwn commented on #789
@gampu hi! I believe, you were the author of this implementation in https://github.com/e-maxx-eng/e-maxx-eng/pull/425. Would you have some spare time to look into it?

[2022-05-12 07:48] anshg0711 opened #846 "Next topic button"
It will be great if next topic is added to topic section
like I am reading Breadth-first search
then at the last shortcut for Depth First Search topic button to be present at last

[2022-05-12 15:56] adamant-pwn commented on #834
Done with https://github.com/e-maxx-eng/e-maxx-eng/commit/f3616a16528fab6df2e8c3a7f149ed8c7f7c7898.

[2022-05-12 15:56] #834 closed

[2022-05-12 16:58] adamant-pwn commented on #846
These buttons are supported by MkDocs by default. However, @jakobkogler intentionally overrode it to remove these buttons and the navigation sidebar on the left. From discussion with him, there are two main issues with these features:
- Jakob would prefer the site to be as simple as possible and stick to the original design of e-maxx as much as possible. I slightly disagree here, as I believe that

[2022-05-12 23:14] adamant-pwn commented on #630
Hi @hitch-hiker42! Do you have any plans to work on this?

[2022-05-15 03:28] anshg0711 commented on #846
Okay

[2022-05-15 03:28] #846 closed

[2022-05-18 11:17] flyingdoraemon opened #850 "Problem about 'Maximum flow - Push-relabel algorithm'"
Just wonder why this algorithm results differ from the one using 'Dinic'.
[issue.zip](https://github.com/e-maxx-eng/e-maxx-eng/files/8715727/issue.zip)
The answer should be 37381805875, while the 'Push-relabel algorithm' returns 32114753220.

[2022-05-19 23:30] adamant-pwn commented on #850
Hi, how did you generate the test case?

[2022-05-22 09:10] hly1204 commented on #850
The case they generated contains duplicate edges, so using `capacity[u][v] += z` will give the right answer. I think they use the adjacency matrix in a wrong way and I didn't find any mistakes in the code provided on the site.

[2022-05-24 06:53] flyingdoraemon commented on #850
thanks a lot!!

[2022-05-31 06:26] Dip707 opened #861 "Problem on article "Finding strongly connected components / Building condensation graph""
**Article:** [Finding strongly connected components / Building condensation graph](https://cp-algorithms.com/graph/strongly-connected-components.html)

**Problem:** The first problem given [SUBMERGE - Submerging Islands](https://www.spoj.com/problems/SUBMERGE) in this article is about finding articulation points and not about strongly connected components. Please remove it.

[2022-05-31 20:02] adamant-pwn commented on #861
Thanks, I removed it in 5c6ab855a898f382041d1c9ab8bde37e3ad9ce15.

[2022-06-03 11:36] adamant-pwn commented on #789
@gampu could you try your impl on https://www.eolymp.com/en/problems/1107?

[2022-06-03 11:41] adamant-pwn commented on #388
Hi @polkovnikov-ph, any updates here? Even if it requires further changes, perhaps we can already start a PR to track it?

[2022-06-03 11:51] adamant-pwn commented on #850
@hly1204 so, as I understand, the issue is not with the algo, but with the input format? I'm closing the ticket then, thanks for figuring that out!

[2022-06-03 11:51] #850 closed

[2022-06-03 12:34] adamant-pwn commented on #823
Brief update here. I18n is supported by mkdocs (see [here](https://squidfunk.github.io/mkdocs-material/setup/changing-the-language/)). In principle, if someone establish a fork of the site in another language, we can set up a link there with that feature. Unfortunately, it doesn't seem to be possible at the moment to establish a page-to-page correspondence, as is done with interwiki.

[2022-06-03 12:37] adamant-pwn commented on #823
Possible workaround for page-to-page correspondence would possibly be using a plugin like [this one](https://pypi.org/project/mkdocs-material-relative-language-selector/) which allows relative paths in language selector.

[2022-06-03 19:11] adamant-pwn commented on #792
I've made a PR https://github.com/e-maxx-eng/e-maxx-eng/pull/862 to implement it with tags.

Another possible approach would be to use [mkdocs-git-authors-plugin](https://github.com/timvink/mkdocs-git-authors-plugin), which will automatically render results like this:

![image](https://user-images.githubusercontent.com/14077831/171872636-d584bb72-0ab2-4a60-b5ed-b9caa5ada8c7.png)

I think it will s

[2022-06-03 19:19] jxu commented on #792
The names and emails from the git log? Those are already public anyway
right? Are you trying to do GitHub usernames instead?

On Fri, Jun 3, 2022, 3:12 PM Oleksandr Kulkov ***@***.***>
wrote:

[2022-06-03 19:22] jxu commented on #792
My proposal was something much simpler, just 1-2 sentences in a credit
section like for a manpage. But if you already setup an automatic system
like what MDN docs has that works as well.

On Fri, Jun 3, 2022, 3:19 PM Jason Xu ***@***.***> wrote:

[2022-06-03 19:41] adamant-pwn commented on #792
They are public, yes, but I don't think people would be comfortable sharing them on highly viewable page.

By the way, I managed to try mkdocs-git-commiters-plugin locally. It allows to link to GitHub profiles and use GitHub logins rather than names from the log, but sometimes it fails to match the contributor in the log to the GitHub user and it wouldn't allow to compute statistics over contribut

[2022-06-03 19:42] adamant-pwn commented on #792
Adding an author tag manually would also be an option if/when https://github.com/e-maxx-eng/e-maxx-eng/pull/862 lands.

[2022-06-03 19:55] adamant-pwn commented on #757
@jxu @jakobkogler is this issue still relevant? I mean, I'm having hard time trying to understand what exactly is suggested at the moment.

[2022-06-03 20:04] adamant-pwn commented on #732
@jakobkogler is this still relevant? That particular ankor seems to work fine with `{#mod-inv-all-num data-toc-label="Finding the modular inverse for every number modulo m"}`?

[2022-06-03 20:07] adamant-pwn commented on #630
Closing this due to lack of updates. Feel free to re-open if you'd like to return to this!

[2022-06-03 20:07] #630 closed

[2022-06-04 09:00] hardikgu23 opened #863 "Problem on article "Checking a graph for acyclicity and finding a cycle in O(M)""
**Article:** [Checking a graph for acyclicity and finding a cycle in O(M)](https://cp-algorithms.com/graph/finding-cycle.html)

**Problem:**

[2022-06-04 09:04] adamant-pwn commented on #863
Hi! Could you please elaborate what is the problem?

[2022-06-04 09:05] #863 closed

[2022-06-05 17:34] adamant-pwn commented on #846
The PR that is mentioned above has landed. It doesn't bring back the navigation buttons, but hopefully provides a sufficient substitute for them.

[2022-06-05 17:37] jakobkogler commented on #757
Don't think so. Let's close it.

[2022-06-05 17:37] #757 closed

[2022-06-05 17:40] jakobkogler commented on #732
That bug was related to the old website, before we introduced mkdocs. Bug is not relevant any more.

[2022-06-05 17:40] #732 closed

[2022-06-07 07:00] alwyntandiono opened #873 "Broken math rendering on certain zoom levels"
I am using Microsoft Edge Chromium Version 102.0.1245.33 (Official build) (64-bit) on Windows. Recently, the math rendering seems to be broken on certain zoom levels.

Example article:
https://cp-algorithms.com/string/prefix-function.html

---

# On 100% zoom level:
![Untitled](https://user-images.githubusercontent.com/54968727/172313685-17ddb632-acbc-486a-989c-123e7daeb46e.png)

---

# On 125% zo

[2022-06-07 17:54] alwyntandiono commented on #873
The problem occurs when I am using the following zoom levels: 75%, 80%, 110%, 125% (the one I normally use), 150%, 250%, 300%, 400%, and 500%. The rendering is correct on other zoom levels, e.g. 100% or 200%.

My friend also experiences this issue on the same version of Edge Chromium. He told me that everything seems normal on Chrome though (he tried all of the zoom levels).

[2022-06-07 17:59] jakobkogler commented on #873
Looks like it's the same issue as https://github.com/mathjax/MathJax/issues/2853
Don't think that we can do anything about it.

I also can't reproduce it (but I don't have any access to Edge Chromium).

[2022-06-07 18:05] jakobkogler commented on #873
A potential solution would be, to change the MathJax output to SVG. Per default MathJax just prints text and renders it with a lot of CSS magic. With SVG, it's an actual image.

@alwyntandiono Can you try to switch it to SVG, and check if that fixes the problem. You can just right-click a formula, Math Settings, Math Renderer, SVG.

[2022-06-07 19:18] alwyntandiono commented on #873
The broken renderings become invisible after switching to SVG, so I couldn't verify if switching to SVG can actually fix the problem. I also tried hard reloading the page (Ctrl + Shift + R).

---
![Untitled](https://user-images.githubusercontent.com/54968727/172463308-f8b061f8-700d-41a5-b9b5-e44da5dfc554.png)
---

[2022-06-07 19:55] jakobkogler commented on #873
And with just a soft reload? Ctrl + F5

[2022-06-07 19:57] adamant-pwn commented on #792
Implemented in https://github.com/e-maxx-eng/e-maxx-eng/pull/871.

[2022-06-07 19:57] #792 closed, assigned to nobody

[2022-06-07 23:34] adamant-pwn commented on #379
On a side note, there is also [prettier](https://github.com/prettier/prettier), that works much better and also has `--prose-wrap` option. Unfortunately though, it doesn't work well with e.g. admonitions and content tabs.

[2022-06-08 04:10] solvingprobs123 opened #874 "Segment Tree - Inplementation : Typo for parameters of the root"
I am learning Segment Tree. So, I may be wrong.
In [Segment Tree - Implementation](https://cp-algorithms.com/data_structures/segment_tree.html#implementation), it is mentioned that for building segment tree we pass 4 parameters to the ```build``` function - input array ```int a[]```, index of root vertex ```1``` and the boundaries of the array **```0```** and **```n-1```**.
If the root vertex is `

[2022-06-08 05:08] alwyntandiono commented on #873
Doesn't work either

[2022-06-08 13:02] #874 closed

[2022-06-08 17:41] jakobkogler commented on #873
Then I don't think I can do something about it. It looks like a bug in Edge/Windows/MathJax.

[2022-06-08 19:02] adamant-pwn commented on #234
Implemented in https://github.com/e-maxx-eng/e-maxx-eng/pull/792 (giving credit to authors) and https://github.com/e-maxx-eng/e-maxx-eng/pull/862 (reflecting article translated/original status).

[2022-06-10 15:32] amirMohammadTaati commented on #823
Thanks a lot!

[2022-06-10 18:19] polkovnikov-ph commented on #792
Something isn't right. [In this article](https://cp-algorithms.com/algebra/primality_tests.html) contributions don't sum up to 100%.

[2022-06-10 18:39] adamant-pwn commented on #792
Thanks for pointing out! Should be fixed in https://github.com/e-maxx-eng/e-maxx-eng/commit/387b1b4725d51c6399dfc09613733974157aad3b.

[2022-06-13 00:34] #823 closed

[2022-06-13 02:05] polkovnikov-ph commented on #823
If the website would be made in several languages, contributors would have a huge problem reviewing changes made in a different language.

If another website is started as a fork of this repo (with the same git history), it will
- show contributors from a version in original language;
- be quite easy to merge changes from upstream.

The only issue I see is that every website should (unnecessarily)

[2022-06-13 02:07] polkovnikov-ph opened #878 "Are all of the articles from e-maxx translated?"
While it's obvious now whether the article was translated, it's still unclear to me if all the articles were translated.

Would you mind specifying somewhere that it is, or what is left to be translated?

[2022-06-13 02:26] jxu opened #879 "Sqrt Decomposition notation"
**Article:** [Sqrt Decomposition](https://cp-algorithms.com/data_structures/sqrt_decomposition.html)

**Problem:**
I think in math terms it's usually cleaner to think about intervals a[l,r) (begin index inclusive, end index exclusive) than a[l,r] (both inclusive). If you look at the structure of a for loop, we have termination condition i < n instead of i <= n-1.

So to make it easier to grasp wha

[2022-06-13 19:08] jakobkogler commented on #878
Here's a list with all translated and still untranslated articles: https://github.com/e-maxx-eng/e-maxx-eng/wiki/Translation-Progress
Is this enough already, or should the list be published on the website?

[2022-06-13 20:43] polkovnikov-ph commented on #878
Thank you, this is exactly what I've been looking for. Probably if it was just linked in README, it would be easier to find.

[2022-06-13 21:33] jakobkogler commented on #878
It is. :smile: When you click the translation progress button.

![2022-06-13-233322_270x95_scrot](https://user-images.githubusercontent.com/7143573/173449122-7df8f6d4-9ac9-4a79-adb8-3b92c339f86e.png)

[2022-06-13 21:34] #878 closed

[2022-06-15 18:11] adamant-pwn commented on #388
Hi @polkovnikov-ph ! Any updates here?

[2022-06-15 18:12] adamant-pwn commented on #873
Should be fixed upstream.

[2022-06-15 18:12] #873 closed

[2022-06-15 21:04] polkovnikov-ph commented on #388
I'm just a bit busy at the moment. Will come back to this in a week.

[2022-06-21 15:32] dhruv403 opened #881 "Problem on article "Topological Sorting""
**Article:** [Topological Sorting](https://cp-algorithms.com/graph/topological-sort.html)

**Problem:**
 This algo is wont work in test case If number of vertex is 4 and given is vertex in each line... such that (a b) means edge between a and b

3 0
3 2
0 2

The for loop in topo sort function... is wrong... We need to see some indegree

[2022-06-21 19:23] #881 closed

[2022-06-22 04:50] Alexstudentprogrammer opened #882 "Problem on article "Minimum-cost flow""
**Article:** [Minimum-cost flow](https://cp-algorithms.com/graph/min_cost_flow.html)

**Problem:**

[2022-06-22 04:50] #882 closed

[2022-06-22 04:51] Alexstudentprogrammer opened #883 "Problem on article "Assignment problem. Solution using min-cost-flow in O (N^5)""
**Article:** [Minimum-cost flow](https://cp-algorithms.com/graph/min_cost_flow.html)

**Problem:**

[2022-06-22 04:52] #883 closed

[2022-06-22 04:54] Alexstudentprogrammer opened #884 "Problem on article "Assignment problem. Solution using min-cost-flow in O (N^5)""
**Article:** [Assignment problem. Solution using min-cost-flow in O (N^5)](https://cp-algorithms.com/graph/Assignment-problem-min-flow.html)

**Problem:**

Analysis of algorithm problem (my opinion)
It was mentioned that solution using Bellman Ford algorithm provides overall time complexity of O(n^6)
However, we are dealing with integer flows and this algorithm based on Ford-Folkerson, I read that

[2022-06-23 10:52] cactusnoh opened #885 "Problem on article "Convex hull construction""
**Article:** [Convex hull construction](https://cp-algorithms.com/geometry/convex-hull.html)

**Problem:**

sort(a.begin(), a.end(), [&p0](const pt& a, const pt& b) {
        int o = orientation(p0, a, b);
        if (o == 0)
            return (p0.x-a.x)*(p0.x-a.x) + (p0.y-a.y)*(p0.y-a.y)
                < (p0.x-b.x)*(p0.x-b.x) + (p0.y-b.y)*(p0.y-b.y);
        return o < 0;
    });

shouldn't it

[2022-06-23 12:57] KunalSin9h opened #886 "LaTex rendering issue."
Page : https://cp-algorithms.com/algebra/factorial-divisors.html

I Think LaTex is not properly working in menu bar.

![issue](https://user-images.githubusercontent.com/82411321/175303671-804cba25-c3ee-41f6-8dee-92dd81daa092.jpg)

[2022-06-30 21:35] timvandam opened #892 "Problem on article "Minimum-cost flow""
**Article:** [Minimum-cost flow](https://cp-algorithms.com/graph/min_cost_flow.html)

**Problem:**

The proposed solution does not deal with negative cost cycles

[2022-07-07 08:02] creme332 opened #893 "Problem with LaTeX on article "Josephus problem""
**Article:** [Josephus problem](https://cp-algorithms.com/others/josephus_problem.html)

**Problem:**
In the `Modeling a O(n) section`, the LaTeX for the recursive formula does not render properly.

![image](https://user-images.githubusercontent.com/65414576/177721883-20ab5e1f-27bf-4e0a-89f0-efbd5928ba63.png)

I am using Google Chrome 103 on Windows 10.

[2022-07-07 10:46] #893 closed

[2022-07-07 10:46] adamant-pwn commented on #893
Thanks!

[2022-07-07 10:48] adamant-pwn commented on #892
Yeah, this is right. There is an [article](https://e-maxx.ru/algo/min_cost_flow_negative_cycles) in original e-maxx that covers the topic by the way.

[2022-07-07 11:26] adamant-pwn commented on #884
Hm... So, we have a flow of a size at most $V$ and on each iteration we find shortest path in at most $O(VE)$. So, the total running time should indeed be $O(V^2E)$, which is at most $O(n^4)$ for a graph with $n$ vertices. And it should be $O(V^2+E)$ per iteration using Dijkstra with potentials, hence $O(n^3)$. I wonder why e-maxx writes it as $O(n^5)$ and $O(n^4)$...

[2022-07-07 11:31] Alexstudentprogrammer commented on #884
Thank you for your answer! Now everything is clear for me.

[2022-07-07 11:36] adamant-pwn commented on #879
Hi, thanks for the suggestions! Would you like to make a pull request on these changes?

[2022-07-07 11:36] KunalSin9h commented on #886
@adamant-pwn can you redirect me to piece of code where this Table is made in source code.

[2022-07-07 11:38] adamant-pwn commented on #886
It's populated from headers, e.g. in [here](https://github.com/e-maxx-eng/e-maxx-eng/blob/master/src/algebra/factorial-divisors.md?plain=1#L11).

[2022-07-09 20:05] jxu commented on #879
Yes I'm working on a PR. Though the [a,b) interval notation may be confusing for those not used to it. When I have the draft PR you can judge for yourself.

[2022-07-10 22:13] dutinmeow opened #895 "Problem on article "Suffix Tree""
**Article:** [https://cp-algorithms.com/string/suffix-tree-ukkonen.html](https://cp-algorithms.com/string/suffix-tree-ukkonen.html)

**Problem:** The link to the _[Algorithms on Strings, Trees, and Sequences](http://web.stanford.edu/~mjkay/gusfield.pdf)_ no longer works

[2022-07-10 22:15] dutinmeow commented on #895
[This source](http://www.cs.cornell.edu/courses/cs410/1999fa/Lectures/lec24.pdf) seems to be a suitable replacement.

[2022-07-11 05:04] jxu opened #897 "What is reversible function in "Fenwick Tree"?"
**Article:** [Fenwick Tree](https://cp-algorithms.com/data_structures/fenwick.html)

AFAIK Fenwick tree can be applied to any operation that is supported by prefix trees, i.e. binary associative operations. The article anyway uses sum as an example, which is the prototypical binary associative operation (also commutative but not needed here)

[2022-07-14 19:22] jakobkogler commented on #897
Binary associative operations are not enough to handle arbitrary range queries. Only prefix queries.

And that's what's meant with _reversible_. E.g. sum is reversible, because we can compute the sum of a range [a, b] by using sum of prefix [0, b] and subtract the sum of the prefix [0, a-1].

Min or max (both binary associative operations) can't do this.

I've added some explanations in b6fbf7b7d7

[2022-07-14 19:22] #897 closed

[2022-07-14 19:24] jxu opened #903 "Article on common I/O optimizations"
It's well-known for competition programming in C++ to use the following simple I/O optimizations:
- `ios_base::sync_with_stdio(false)` which shouldn't ever be a problem as you shouldn't use C I/O in c++ ever
- `cin.tie(0)` (except for maybe interactive problems)

(they should be prefixed with `std::` but competition programmers use namespace std which is bad style but probably ok for cp)

Here's a

[2022-07-14 19:29] jxu commented on #897
Is reversible actually the math terminology? I only see that term used for hash functions but idk what the terminology should be

[2022-07-14 19:37] jxu commented on #903
What about having this short article for now and maybe expanding it to C++ in CP later? That's a quite broad topic

[2022-07-14 19:40] adamant-pwn commented on #895
Hi, thanks for the suggestion! Would you like to make a pull request for that?

[2022-07-14 19:53] jakobkogler commented on #886
The trick that you showed is also the only thing that I know.

AFAIK it's not possible to enable it automatically. During the Markdown to HTML conversion, the ToC just is treated differently, and generates different HTML.

---

It's probably best to avoid formulas in headers as much as possible. Might also look quite funny/strange in other places, like search engines.

[2022-07-14 19:53] jakobkogler commented on #903
Sure, why not.

[2022-07-14 21:49] jxu commented on #897
What you said about multiplication leads me to suspect this is not a property of the function but of inverses existing. Multiplication is reversible if you exclude 0, which is the same as saying something like $\mathbb R \setminus \{0\}$ is a group under multiplication.

[2022-07-14 22:44] #895 closed

[2022-07-14 22:49] adamant-pwn commented on #897
One could use [this modification](https://neerc.ifmo.ru/wiki/index.php?title=Встречное_дерево_Фенвика) of the Fenwick tree to support arbitrary binary associative operations.

Reversible formally means that the operation forms an associative [quasigroup](en.wikipedia.org/wiki/Quasigroup).

[2022-07-14 23:00] jxu commented on #897
I think saying group is enough for simplicity. Any operation I've seen in competition programming is usually simple like sum and max, not a contrived operation on a algebraic structure that somehow doesn't have identity (idk what this even would be)

[2022-07-15 05:03] jxu commented on #886
I think no one will mind if headings don't have proper math symbols. It's not good bibliographical style too make them too complicated anyway.

[2022-07-15 05:07] KunalSin9h commented on #886
@jxu so let them just k without any latex is better idea?

[2022-07-15 05:15] jxu commented on #886
In this case it seems fine. The LaTeX equations only matter once you start getting to more complicated expressions

[2022-07-15 05:25] KunalSin9h commented on #886
If that's the case, @adamant-pwn could I make this change!

[2022-07-15 06:18] jxu commented on #886
You can submit a pull request and see what the organization members say

[2022-07-15 17:50] jakobkogler commented on #897
I guess it's the same method described in this Olympiads in Informatics paper: https://ioinformatics.org/journal/v9_2015_39_44.pdf
It's actually mentioned and linked in the article (under the minimum query section).

I've implemented that one years ago, and made a benchmark. https://github.com/jakobkogler/RMQ_BIT_vs_ST My results were quite different from the results in the paper, however it still

[2022-07-16 08:29] #886 closed

[2022-07-16 23:47] jxu opened #908 "Digit for -1 in "Balanced Ternary""
**Article:** [Balanced Ternary](https://cp-algorithms.com/algebra/balanced-ternary.html)

I didn't realize we had a balanced ternary article. This is pretty niche but could be useful for some obscure balance problems.

Z is used for -1, but I have never seen this elsewhere (except for copy-paste articles like https://www.geeksforgeeks.org/balanced-ternary-number-system/). Usually Z is associated w

[2022-07-17 11:08] #884 closed

[2022-07-17 11:10] adamant-pwn commented on #789
@gampu hi! Would you have some time to do this?

[2022-07-17 13:07] gampu commented on #789
@adamant-pwn I have tried out my solution on OP's problem and it worked with a small modification. I am not sure how to share proof because submissions on eolymp aren't visible to others.

[2022-07-20 22:35] jxu commented on #903
Also I've heard that including `bits/stdc++.h` would increase compilation times since you are asking the compiler to parse and decide what to include from every single header file. Also it's not portable and you should have your imports in a code template anyway. I know people do it anyway, like `using namespace std`, but that could cause silly problems as well.

[2022-07-24 15:17] jakobkogler commented on #903
- Compile time: It's possible to precompile the `bits/stdc++.h`, and you probably will gain some speed using it. But also with it, the compile time is not that terrible.
- Portable: It's pretty portable. It should works for every `g++` installation. On Linux, Windows, Mac.

I'm generally in favor of using `bits/stdc++.h`. Just because it avoids a huge template with 30+ includes.
And `using namespa

[2022-07-24 18:02] jxu commented on #903
Portability I mean some people on Windows may be using Microsoft compiler or clang on other platforms. Anyway I digress on those code-saving tricks

[2022-07-26 07:53] Xu-Justin commented on #320
I think it would be great if there was a "Download PDF" button on each topic that would create a PDF for that particular topic instead of the whole CP Algorithm.

[2022-07-31 05:30] jxu commented on #903
I've also come across some people using `#define int long long`. I was pretty sure this would break something in libraries but somehow people get away with it, one reason using `signed main`. I haven't decided if this is a travesty or reasonable but I am tempted by the devil.

[2022-08-02 03:25] lrvideckis opened #910 "Better method of memory efficient segment tree"
The memory efficient segment tree section talks about using a pre-order traversal indexing to achieve 2*n memory. Although after discussing with https://codeforces.com/profile/lightseba , we've come to the conclusion that the heap indexing (left child=2i, right=2i+1) is more cache efficient https://en.algorithmica.org/hpc/data-structures/binary-search/#optimizing-the-layout and was slightly faster

[2022-08-02 03:46] lrvideckis commented on #910
![image](https://user-images.githubusercontent.com/33103480/182287414-9be3420e-69cb-4c46-bd0d-55498476c161.png)

[2022-08-04 13:21] adamant-pwn commented on #910
Hi, thanks for pointing this out! Could you clarify, what would you like us to do with this information, though? If you'd want it to be reflected in our articles, please feel free to submit a Pull Request with the [instructions here](https://cp-algorithms.com/contrib.html).

[2022-08-04 13:23] adamant-pwn commented on #908
I'm fine with changing it, if it is to make it consistent with the notation from other places. My personal preference would probably also be with `-/0/+`, but I don't care that much, so feel free to submit it as a pull request.

[2022-08-04 13:25] adamant-pwn commented on #885
Hi, thanks for pointing that out! Did you check it on some concrete examples to check that it is indeed as you say? If so, please feel free to submit a pull request to fix it (please refer to the [instruction](https://cp-algorithms.com/contrib.html) here).

[2022-08-04 13:32] adamant-pwn commented on #903
I occasionally use `#define int int64_t`, though generally suggested practice is using `int64_t` directly. I kind of think that it's easier to code this way, though some other side effects include not being able to write `min(0, x)` for `int x`, because `0` is of type `int`, and some compilers wouldn't even allow `min(0LL, x)`, because they think `long long` and `int64_t` are different types.

Ano

[2022-08-04 16:10] jxu commented on #903
Thanks for your response. I can quickly whip up an article just to have some info on it

[2022-08-04 18:36] StrawHatDragon100 opened #914 "Typo in the segment tree page"
In the implementation section of the segment tree, there is a type in code for query function.
Instead of this:
[code]

It should be this:
[code]

[2022-08-04 19:48] lrvideckis commented on #910
I can submit a PR. I wanted to check first with you if it's a good idea to change.

[2022-08-05 01:45] adamant-pwn commented on #914
I think everything is correct there... The vertex V has 2V and 2V+1 as it's children.

[2022-08-05 02:00] StrawHatDragon100 commented on #914
I think I mixed this up with 0 based indexing, closing this. Sorry for the issue.

[2022-08-05 02:00] #914 closed

[2022-08-06 11:26] Wxld opened #915 "[Segment Tree] Searching for the first element greater than a given amount (My code)"
I feel like my code is more clear and concise than the OP's code. It's just my opinion and I feel like I should contribute back thus posting it.

[code]

[2022-08-08 05:42] Wxld opened #916 "Different (simpler) implementation for addition on segments [C++]"
Code Idea for : [https://cp-algorithms.com/data_structures/segment_tree.html#addition-on-segments](url)
[code]

[2022-08-08 06:03] #916 closed

[2022-08-08 19:54] KlonAnon opened #917 "[Segment Tree] Max. number of vertices"
![MaxVertices](https://user-images.githubusercontent.com/59443262/183500435-728b6e82-03fe-45ab-902a-a019de053af5.png)

I'm a little bit confused. Maybe I'm missing something, but isn't the number of vertices in the worst case 2*n? The approach to determine this over the sum 1+2+4+...+n (as shown in the picture above) seems right, but if I'm right 2^(log2(n) + 1) equals 2*n and not 4*n. One could a

[2022-08-16 10:07] #917 closed

[2022-08-19 17:36] polkovnikov-ph opened #919 "Why D'Esopo-Pape algorithm is even interesting?"
The unfortunately late "complexity" section of the article tells it's exponential. What use does it have?

[2022-08-23 15:37] adamant-pwn commented on #919
I think the main reason is that it is one of the original articles from emaxx ([Levit algorithm](https://e-maxx.ru/algo/levit_algorithm)), which at time was believed to be efficient for finding minimum cost flow. Then, Burunduk made a [CF post](https://codeforces.com/blog/entry/3793) about it being exponential and it wasn't very relevant anymore after that...

[2022-08-23 18:11] polkovnikov-ph commented on #919
Thank you, that makes a lot of sense now. I think this information would be more fitting in the article itself.

[2022-08-23 18:11] #919 closed

[2022-08-27 07:05] pawan-nirpal-031 opened #923 "Please add more dynamic programming problem types and articles."

[2022-08-28 04:22] Aeren1564 opened #924 "About suffix automaton article"
For "number of substrings", instead of doing DP over the DAG structure, I think we just have to add up len(u) - len(link(u)) (which is # of strings in the state) over all non-root state u. Similar for "total length of all different substrings" as well.

[2022-09-05 18:21] adamant-pwn commented on #924
Hi, you're right! Would you like to make a pull request with the change?

[2022-09-05 18:22] adamant-pwn commented on #923
Thanks for the suggestion! If you have some specific article ideas, please feel free to contribute them per the [contribution guide](https://leetcode.com/problems/longest-duplicate-substring/).

[2022-09-05 18:22] #923 closed

[2022-09-05 18:23] adamant-pwn commented on #915
I think you're right that the current code might be improved. Have you checked your implementation somewhere? Would you like to issue a pull request?

[2022-09-06 08:50] Wxld commented on #915
I can try although I am not that good with git.

[2022-09-07 14:10] Aeren1564 commented on #924
Sure but it might take a while due to my lazy ass

[2022-09-14 10:34] pityhero233 opened #931 "Mistake on Linear Diophantine Equation"
https://cp-algorithms.com/algebra/linear-diophantine-equation.html#algorithmic-solution Here
![image](https://user-images.githubusercontent.com/24752033/190131777-48411309-cdae-4e94-8e4b-c9ec9c8f79e7.png)
should be g / c not c / g.

[2022-09-14 13:32] adamant-pwn commented on #931
So, $x_g$ and $y_g$ are such that $a x_g + b y_g = g$. If we multiply both parts by $\frac{c}{g}$, we get

$$
a (x_g \frac{c}{g}) + b (y_g \frac{c}{g}) = c,
$$

on the other hand we want to find $x_0$ and $y_0$ such that $ax_0 + by_0 = c$.

I think from this follows that $x_0$ and $y_0$ from the article are correct.

[2022-09-14 13:32] #931 closed

[2022-10-16 12:09] Muaath5 opened #942 "Adding CSES problems in practice section"
It's useful for beginners, because [cses](https://cses.fi/problemset/) gives the problem with clearness & straight-forwardness
## Examples of places to add
- Catalan numbers page | [Bracket Sequence I](https://cses.fi/problemset/task/2064)
- Binary Exponentiation page | [Exponentiation](https://cses.fi/problemset/task/1095)
- Euler's totient function page | [Exponentiation II](https://cses.fi/prob

[2022-10-17 12:21] adamant-pwn commented on #942
Sure, feel free to open pull requests to add the problems, if you think they're appropriate (see [contribution guide](https://cp-algorithms.com/contrib.html)).

[2022-10-17 12:21] #942 closed

[2022-10-17 19:47] adamant-pwn commented on #751
I've pushed a basic [binary search article](https://cp-algorithms.com/num_methods/binary_search.html).

Sorry, I didn't really use anything from your blog :(

But please feel free to create new pull requests to it if you have something to contribute, I feel like there are a lot of things that we can do about it to make it better!

[2022-10-17 19:47] #751 closed

[2022-10-17 21:24] jxu commented on #751
No it's fine; I've been very unmotivated to write articles.

The main point of my article is what darooha taught in a competition programming lecture, in that binary search works in any case to find the transition point for some "increasing" binary function

![image](https://user-images.githubusercontent.com/7989982/196286387-19a77785-45c6-4d65-9329-3469cf7095b8.png)

[2022-10-18 18:11] adamant-pwn commented on #838
Done in 04f4cb507c76425f5b4bc3e0ff5eb0ce5cb04b99.

[2022-10-18 18:11] #838 closed

[2022-10-18 20:17] meooow25 opened #944 "Unable to select math"
I'm unable to select any rendered math on the website. I think it's a common thing to select and copy some text (containing math) to share elsewhere. This was not an issue in the previous design of the website, and is also not an issue other sites, like Codeforces.

@adamant-pwn found that the issue is with MathJax 3 (https://github.com/mathjax/MathJax/issues/2240)

There are some workarounds on t

[2022-10-18 21:11] adamant-pwn commented on #944
I've made a brief test in https://github.com/e-maxx-eng/e-maxx-eng/pull/945. Seems to work, but the selected text looks weird, see e.g. [here](https://cp-algorithms--preview-945-sxgof1ts.web.app/algebra/binary-exp.html).

![image](https://user-images.githubusercontent.com/14077831/196545795-7b7be598-9e75-45d2-9b05-c72e5c52df4c.png)

[2022-10-18 21:14] adamant-pwn commented on #944
We may alternatively make it copyable, but not highlightable... Not sure if it's a better option.

[2022-10-19 00:10] adamant-pwn commented on #903
There was a pull request with this in https://github.com/e-maxx-eng/e-maxx-eng/pull/939, but @adamsoltan withdrew it...

[2022-10-19 00:57] #885 closed

[2022-10-19 00:58] #789 closed

[2022-10-31 09:09] player131007 opened #951 "Problem on article "Dijkstra on sparse graphs""
**Section**: [Getting rid of pairs](https://cp-algorithms.com/graph/dijkstra_sparse.html#getting-rid-of-pairs)

I think Dijkstra's algorithm should use `multiset` instead of `set`.

Since we only compare the distance of vertices in the set, if there are vertices whose minimum distance are equal, they wouldn't be pushed into the set.

For instance, in this graph (starting at vertex 1):
![Screenshot

[2022-10-31 13:07] adamant-pwn commented on #951
With `set`, you store `pair<int, int>` where the first element is the distance and the second element is the vertex number. As such, there are no repetitions because second element is always unique.

[2022-10-31 13:07] #951 closed

[2022-10-31 13:51] adamant-pwn commented on #944
Done in https://github.com/e-maxx-eng/e-maxx-eng/pull/945 with full Latex source.

[2022-10-31 13:51] #944 closed

[2022-11-03 00:59] adamant-pwn commented on #908
It doesn't seem like a critical change at the moment, so marking it as resolved. If anyone is willing to fix, please feel free to make a pull request.

[2022-11-03 00:59] #908 closed

[2022-11-03 01:01] adamant-pwn commented on #910
Sure, please feel free to make a pull request out of it, if you're still interested in adding info about it to our articles.

[2022-11-03 01:16] adamant-pwn commented on #320
I had a closer look on this. I feel like it should be possible to build PDF pages together with static web pages that are built with MkDocs now. But it seems like some fixes are needed in e-maxx-eng-book since the way we structure articles changed a bit...

[2022-11-03 01:39] Ir1d commented on #320
A follow-up on this: over the years we've built a tool to convert remarkjs flavor markdown to latex https://github.com/OI-wiki/OI-Wiki-export
The github action supports compiling to pdf weekly: https://github.com/OI-wiki/OI-Wiki-export/releases
We also have CI for pull requests so that edits on markdown don't break the export tool.

[2022-11-04 02:25] Taz03 opened #953 "Add icon for theme change slider"
![image](https://user-images.githubusercontent.com/73871477/199871402-c0ab9ff5-a9e5-48f5-bcae-e10aaad0484b.png)

the button to switch between themes is very confusing at first there is no sign that it is a light/dark mode slider, my solution is to at least add some icon near it or make it icon based completely (i.e. when we're in dark mode it'll show moon icon and when we're in light mode it'll sh

[2022-11-06 05:12] vasucp1207 opened #955 "[DSU] Naive implementation does not generate long chain"
- How can this code generate long chains when we set the parent of the leader of the second set directly to the leader of the first set?
- This does not set to the immediate parent of the current node.
<img width="1432" alt="Screenshot 2022-11-06 at 10 27 40 AM" src="https://user-images.githubusercontent.com/85363195/200154973-2ef2637a-1717-4f5f-bd16-756a784db0d6.png">

<details>
  <summary>Consid

[2022-11-06 12:46] adamant-pwn commented on #955
It's more than capable of generating long chains.

Just call `uni(k, 1)` in increasing order of `k` on an initially empty graph.

After the call, `k` becomes a new parent of the chain `1 -> 2 -> ... -> k-1`.

The code you provided however just seems incorrect to me, as it breaks the connectivity between `b` and other elements of its previous chain...

[2022-11-06 12:46] #955 closed

[2022-11-06 12:52] adamant-pwn commented on #953
We can use e.g. icons from [here](https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#color-palette-toggle) for this.

[2022-11-06 13:09] adamant-pwn commented on #953
Added in #956.

[2022-11-06 13:09] #953 closed

[2022-11-15 12:34] SubhramRanaRZP opened #959 "BUG : bridge finding algorithm offline"
**Article:** [Finding Bridges in O(N+M)](https://cp-algorithms.com/graph/bridge-searching.html)

**Problem:**
If there is double edge between two nodes, due to `if (to == p) continue;`, the edge (v-to) will be considered as a bridge, which is not correct.
Here is the modified code.
1. introduce a new variable called `parentSkipped` inside the `dfs()`
bool parentSkipped = false;
2. instead of just

[2022-11-16 17:31] adamant-pwn commented on #959
Hi, thanks for bringing that up! Would you like to make a pull request with this change?

[2022-11-27 03:45] tbobo opened #963 "Question about article "Prefix function - Knuth-Morris-Pratt""
**Article:** [Prefix function - Knuth-Morris-Pratt](https://cp-algorithms.com/string/prefix-function.html#compressing-a-string)

**Problem:**
Under the section "Compressing a string" the following claim is made:

I'm not sure I see the leap to the bolded conclusion (for example, suppose `p = 8` and `k = 6`). Am I missing something or is rather that the blocks decompose into repeating blocks of the

[2022-11-30 02:27] bqi343 opened #964 "Variable Mixed Up in Continued Fraction Sqrt Explanation"
https://cp-algorithms.com/algebra/continued-fractions.html#linear-fractional-transformations

For the Quadratic Irrationality solution:

It looks like $x_k-z_ka_k$ was mistakenly replaced with $x_k-y_ka_k$ in the middle of an equation. Once this is fixed, the variable naming should be consistent with the naming in [this commit](https://github.com/e-maxx-eng/e-maxx-eng/pull/962/commits/195463745093